<?xml version="1.0"?>
<launch>
    <arg name="model" default="base_mantaray" doc="There will be other models that have different sensors"/>
    <arg name="x_pos" default="-3.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="enable_ros_network" default="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <group>
        <param name="gazebo/enable_ros_network" value="$(arg enable_ros_network)" />
    </group>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mantaray_description)/urdf/base.xacro" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model mantaray -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    
</launch>
