<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Adding the thruster units with the macro created in snippets.xacro -->
    <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

    <!-- Taken from RexRov2-->
    <xacro:thruster_macro namespace="${namespace}" thruster_id="0"> <!-- I inputed-->
      <origin xyz="-0.25 -0.333 0.145" rpy="${90*d2r} 0 ${300*d2r}"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="1">
      <origin xyz="0.25 -0.333 0.145" rpy="${90*d2r} 0 ${240*d2r}"/> 
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="2">
      <origin xyz="0.25 0.333 0.145" rpy="${90*d2r} 0 ${120*d2r}"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="3">
      <origin xyz="-0.25 0.3333 0.145" rpy="${90*d2r} 0 ${60*d2r}"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="4">
      <origin xyz="-0.25 0.19 0.19" rpy="0 ${90*d2r} 0"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="5">
      <origin xyz="0.25 0.19 0.19" rpy="0 ${90*d2r} 0"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="6">
      <origin xyz="-0.25 -0.19 0.19" rpy="0 ${90*d2r} 0"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="7">
      <origin xyz="0.25 -0.19 0.19" rpy="0 ${90*d2r} 0"/>
    </xacro:thruster_macro>

    <!-- Instantiate fins, if necessary -->

    <!-- <xacro:fin_macro namespace="${namespace}" fin_id="0">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="2">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="3">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro> -->

</robot>
