<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Adding the thruster units with the macro created in snippets.xacro -->
    <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

    <!-- Taken from RexRov2-->
    <xacro:thruster_macro namespace="${namespace}" thruster_id="0"> <!-- I inputed-->
      <origin xyz="-0.27 -0.294170 0.244899" rpy="0 0 ${90*d2r}"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="1">
      <origin xyz="0.27 -0.384170 0.244899" rpy="0 0 ${270*d2r}"/> 
    </xacro:thruster_macro>
                                    <!-- 0.238 -0.294170 0.244899 -->
    <xacro:thruster_macro namespace="${namespace}" thruster_id="2">
      <origin xyz="0.27 0.294170 0.244899" rpy="0 0 ${270*d2r}"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="3">
      <origin xyz="-0.27 0.384170 0.244899" rpy="0 0 ${90*d2r}"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="4">
      <origin xyz="0.298572 0.356203 0.244899" rpy="${90*d2r} 0 0"/>
    </xacro:thruster_macro>
  
    <xacro:thruster_macro namespace="${namespace}" thruster_id="5">
      <origin xyz="0.270130 0.164922 0.244899" rpy="0 ${90*d2r} 0"/>
    </xacro:thruster_macro>
  
    <!-- <xacro:thruster_macro namespace="${namespace}" thruster_id="5">
      <origin xyz="-0.193622 0.207182 0.145563" rpy="0 0 ${-25*d2r}"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="6">
      <origin xyz="-0.281372 -0.150723 0.145563" rpy="0 0 ${-25*d2r}"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="7">
      <origin xyz="0.193622 -0.200534 0.145563" rpy="0 0 ${-25*d2r}"/>
    </xacro:thruster_macro> -->

    <!-- Instantiate fins, if necessary -->

    <!-- <xacro:fin_macro namespace="${namespace}" fin_id="0">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="2">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="3">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro> -->

</robot>
